@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #008080;
  /* Checkerboard pattern overlay */
  background-image: linear-gradient(45deg, #000 25%, transparent 25%, transparent 75%, #000 75%, #000),
  linear-gradient(45deg, #000 25%, transparent 25%, transparent 75%, #000 75%, #000);
  background-size: 4px 4px;
  background-position: 0 0, 2px 2px;
}

/* Custom scrollbar for Webkit */
::-webkit-scrollbar {
  width: 16px;
  background: #dfdfdf;
}

::-webkit-scrollbar-thumb {
  background: #c0c0c0;
  border: 2px solid;
  border-color: #fff #000 #000 #fff;
}

::-webkit-scrollbar-button {
  background: #c0c0c0;
  border: 2px solid;
  border-color: #fff #000 #000 #fff;
  width: 16px;
  height: 16px;
}

.text-shadow {
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.8);
}

